SECRET_KEY= "SENHA SUPER SECRETA"
DATABASE_URL=postgres://<user>:<password>@<hostname>:<port>/<database-name>
CLOUDINARY_URL=cloudinary://my_key:my_secret@my_cloud_name?
BCRYPT_SALT_ROUNDS=
PORT=

NODE_ENV=